.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;

}
.right-header{
    display: flex;
}
.right-header h1{
    margin-top: 0;
}
.left-header{
    display: flex;
    gap: 15px;
}
.list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.log-in{
    background: none;
    font-size: 16px;
    padding: 5px;
    border-radius: 6px;
    color: #ffff;
    border: solid white 2px;
}